<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css"><!--change dirname -->
</head>

<body>
    <div class="home__whole">

        <div class="home__mainheading">
            <h1 class="home__welcome">Welcome to Grievance Management System</h1>
        </div>

        <div class="heading">
            <h1 class="home__you">You Are?</h1>
        </div>

        <div class="option">
            <form action="/StudentLoginSignup" method="post" class="form">
             <button >User</button>
            </form>
           <form action="/AdminLoginSignup" method="post" class="form">
           <button>Admin</button>
           </form>
        </div>
    </div>


</body>

</html>
